
    <h2>Catalogo de Producto</h2>
    <div class="productos">
        <div *ngFor = "let producto of productos" class="producto">
            
            <img [src] ="producto.imagen">
            
            <h3>{{producto.nombre}}</h3>
            <p>Precio:${{producto.precio}}</p>

            <button (click)="agregarAlCarrito
                            (producto)">
                            agregar Al Carrito</button>
    
        </div>
    </div>
    <button (click)="irAlCarrito()">Ir al carrito</button>
    <button (click)="irAlInventario()">Ir al INVENTARIOOOO</button>


    


